<!DOCTYPE html>
<html lang="en">
<% console.log(tagline) %>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/Screenshot (77).png" />
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet">
    <title>Document</title>

  </head>

  <body>
    <div class="sh">
      <div class="b-round0"></div>
      <div class="b-round1"></div>
      <div class="b-round1 pad-1"></div>
    </div>
    <header>
      <div class="h-log">
        <a href=""><img src="" alt=""></a>
        <h1>Landing page</h1>
      </div>
      <nav class="h-nav">
        <a href="">Home</a>
        <a href="">Cake List</a>
        <a href="">Login</a>
      </nav>
      </div>
    </header>
    <main>
      <form id="login">
        <label for="username">username</label>
        <input placeholder="input youre username" type="text" name="" id="username">
        <label for="pass">pasword</label>
        <input placeholder="input youre password" type="text" name="" id="pass">
      </form>
    </main>
    <script src="api.js"></script>
  </body>

</html>